### Example of a desktop entry for executing a script in startup  ###
### The file name extension should be ".desktop". Put the ".desktop" file in "/etc/xdg/autostart/".  ###
### For details check the links in "imp_links"  ###

[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=filedit
Exec=python /home/<user>/filedit.py
Terminal=false
